form {
    padding: 20px;
    margin: auto;
    max-width: 400px;
    border: 1px solid;
    border-radius: 10px;
    background-color: #f8f1f1;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.inline-label {
    display: inline;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: rgb(202, 245, 245);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
   font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

button:hover {
    background-color: chartreuse;
}

fieldset {
    border: 1px solid;
    border-radius: 5px;
    background-color: rgb(226, 223, 218);
    margin-top: 25px;
    margin-bottom: 25px;
}

input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}