/*{
    box-sizing: border-box;
}

body{
    margin: 0rem;
    background-color: rgb(226, 215, 215);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: blueviolet;
}*/